@font-face {
  font-family: "harukazeregular";
  src: url("harukaze-webfont.woff2") format("woff2"),
    url("harukaze-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

*,
html,
body {
  margin: 0rem;
  padding: 0rem;
  scroll-behavior: smooth;
}

.image {
  background-image: url(./assets/Background2.png);
  background-image: url(./assets/Background2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  box-shadow: 0px 15px 11px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 15px 11px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 15px 11px 2px rgba(0, 0, 0, 0.7);
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.japan {
  font-family: harukazeregular;
}

.primary {
  color: #fff5ea;
}

.secondary {
  color: #ff782e;
}

.navanimation {
  animation: navbar both 1s;
}

@keyframes navbar {
  from {
    transform: translateY(-3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.reveal {
  animation: reveal 1s both;
}

.reveal-long {
  animation: reveal 2s both;
}

.on-reveal-delay {
  animation: reveal 2s both 0.5s;
}

.normal-reveal {
  animation: normalReveal linear both;
  animation-timeline: view(block);
  animation-range: contain -50% contain 70%;
}

@keyframes normalReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reveal {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}
